<a href="https://colab.research.google.com/github/Serendipity-Song/Pandas_Numpy_2020/blob/main/%ED%95%A8%EC%88%98_%EC%8B%A4%EC%8A%B5.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# 함수(Function)

## 함수 기본

In [ ]:
def hello():
  print("Hello Python")

hello()

Hello Python

### 함수 선언

### 매개변수와 반환값이 없는 함수

* 함수에 매개변수와 반환값이 없이 사용 가능
* 함수를 호출하면 함수의 수행문이 실행

### 매개변수만 있는 함수

* 문자열 매개변수를 사용한 함수

### 반환 값만 있는 함수

* 문자열 반환 값을 사용한 함수

### 매개변수와 반환 값이 있는 함수

* 정수형 매개변수와 반환 값을 사용한 함수

### 매개변수가 여러개 있는 함수

* 정수형 매개변수 여러개를 사용한 함수
* 매개변수를 지정하여 호출 가능

In [ ]:
def add(n1,n2):
    return n1 + n2

print(add(3,5))

### 키워드 매개변수

* 함수의 매개변수를 변수명을 지정하여 호출 가능

In [ ]:
def add(n1,n2):
    return n1 + n2

print(add( n2=5, n1=3 ))

### 가변 매개변수

* 매개변수가 몇 개인지 알 수 없을 때 사용
* 매개변수 앞에 '*'을 표시

In [ ]:
def sum(*args) :
    res = 0
    for i in args :
        res = res + i
    return res

print ( sum(10, 20) )
print ( sum(10,20,30,40) )

### 가변 키워드 매개변수

* 매개변수의 이름을 따로 지정하지 않고 사용
* 매개변수 앞에 '**'을 표시

In [ ]:
def print_kv(**kv) :
    print(kv)

print_kv(n1=10, n2=20)
print_kv(id='aaa', pw='k123')

### 초기값 매개변수

* 매개변수에 초기값을 설정하여 사용
* 함수에 매개변수를 사용하지 않을 때 초기값을 사용

In [ ]:
def power(a=3, b=5):
    return pow(a,b)

print(power())
print(power(2))
print(power(2, 3))
print(power(b=2))

### 여러 반환 값이 있는 함수

* 함수의 반환값은 하나
* 여러 반환값을 사용할 경우 튜플 형태로 반환

In [ ]:
def p_m (n1, n2):
    return n1+n2, n1-n2

res = p_m(10,5)
print(res)

res1, res2 = p_m(10,5)
print(res1,res2)

### [실습] 계산기 함수

* 두 수에 대해서 덧셈, 뺄셈, 곱셈, 나눗셈을 수행하는 함수
* 연산자와 숫자 두개 입력 받아 계산

### [실습] 가변 매개변수의 평균값 계산

* 가변 매개변수로 들어오는 모든 수의 평균값 계산

In [ ]:
def calc(op, n1, n2):
  res=0
  if op=='+':
    res=n1+n2
  elif op=='-':
    res=n1-n2
  elif op=='*':
    res=n1*n2
  elif op=='/':
    res=n1/n2
  
  return res



---

## 변수의 유효범위

### 유효 범위

* 변수는 유효한 범위가 존재
* 함수 안에서 선언된 변수는 함수 내부에서 유효함

In [ ]:
def var_scope(a):
    a = a + 1

a = 10
print( var_scope(a) )

print( a )

None
10

### 변수의 종류

* 지역 변수: 한정된 지역에서만 사용되는 변수
* 전역 변수: 프로그램 전체에서 사용되는 변수

In [ ]:
a=10

def f1():
    a=20          
    print(a)

def f2():
    print(a)

f1() 
f2()
print(a)

### 전역 변수 사용 global

* 함수 내부에서 전역 변수를 사용하기 위한 `global` 키워드

In [ ]:
a=10

def f1():
    global a
    a=20          
    print(a)

def f2():
    print(a)

f1() 
f2()
print(a)



---

## 함수 심화

### 내부 함수(Nested Function)

* 함수 안에 함수가 존재
* 내부 함수는 외부에서 호출 불가

In [ ]:
def f1(n1) :
    def f2(num1):
        return num1*num1
    return f2(n1)

print( f1(10))

### 재귀 함수(Recursive Function)

* 함수가 자기 자신을 다시 부르는 함수
* `count()` 함수 내부에서 `count()` 함수를 호출
* 재귀적으로 카운트 수를 출력

*   count(3) => 3 2 1

In [ ]:
def count(n):
    if n >= 1 :
        print(n, end=" ")
        count(n - 1)
    else :
        return

count(3)

#### [실습] 재귀 함수를 이용한 합계

* `sum()` 함수 내부에서 `sum()` 함수를 호출
* 재귀적으로 합계를 계산


*   sum(5) => 5+4+3+2+1 => 15

In [ ]:
def sum(n)

[실습] 팩토리얼 함수(Factorial Function)

* 팩토리얼(factorial) 함수는 대표적인 재귀 함수
* 팩토리얼 함수: $n!=1 \times 2 \times 3 \dots (n-2) \times (n-1) \times n = n! = n \times (n-1)!$

### 람다 함수(Lambda Function)

* 함수를 한 줄로 간결하게 만들어 사용

In [ ]:
def add1(n1,n2):
    return n1 + n2

print(add1(2,3))

# 간략한 함수 선언
add2 = lambda n1, n2 : n1+n2  
print(add2(1,2))

#### map()

* `map()`: iterable 한 데이터를 인자로 받아 list 안의 각 요소에 함수를 적용해 주는 함수

In [ ]:
aa = [10,20,30,40]
square = lambda n : n*n

In [ ]:
# 함수명 대신에 람다 함수 정의 가능

aa = [10,20,30,40]

bb = list( map(lambda n : n*n ,aa) ) 

print(bb)

[100, 400, 900, 1600]

In [ ]:
# 만약 리스트 안에 있는 값들을 str타입으로 변경하는 예제

aa=[1,2,3,4,5]

print(bb)

cc='12345'

print(dd)

### filter()

* filter함수는 특정 조건으로 걸러서 걸러진 요소들로 iterator객체를 만들어서 리턴

In [ ]:
aa=list(range(10)) # 0~9
res=[]

# 짝수만 걸러주는 함수
def is_even(n):
    if n%2 == 0 :
        return True
    else :
        return False

for value in aa:
     if is_even(value):
        res.append(value)

print(res)

In [ ]:
aa=list(range(10)) # 0~9

def is_even(n):
    if n%2 == 0 :
        return True
    else :
        return False

res = list( filter(is_even, aa) )
print(res)

res = list( filter( lambda n : n%2==0, aa))
print(res)